<footer
  style="
    background: linear-gradient(135deg, #222, #444);
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  "
>
  <div class="footer-content">
    <p style="margin: 5px 0; font-size: 1.1rem; color: #ccc">
      &copy; {{ site.time | date: '%Y' }} Ridwan Taiwo. All rights reserved.
    </p>
    <p style="margin: 5px 0; font-size: 1.1rem; color: #ccc">Let's connect:</p>
    <div class="social-links">
      <a
        href="https://github.com/donriddo"
        target="_blank"
        style="
          color: #00bcd4;
          margin: 0 15px;
          text-decoration: none;
          font-size: 1.2rem;
          transition: color 0.3s ease;
        "
        >GitHub</a
      >
      |
      <a
        href="https://linkedin.com/in/donriddo"
        target="_blank"
        style="
          color: #00bcd4;
          margin: 0 15px;
          text-decoration: none;
          font-size: 1.2rem;
          transition: color 0.3s ease;
        "
        >LinkedIn</a
      >
      |
      <a
        href="mailto:donriddo@gmail.com"
        style="
          color: #00bcd4;
          margin: 0 15px;
          text-decoration: none;
          font-size: 1.2rem;
          transition: color 0.3s ease;
        "
        >Email</a
      >
    </div>
  </div>
</footer>
