<header
  style="
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #007acc;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  "
>
  <div class="logo">
    <a
      href="{{ '/' | relative_url }}"
      style="
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
      "
      >Ridwan Taiwo</a
    >
  </div>
  <nav>
    <ul
      style="display: flex; gap: 20px; list-style: none; margin: 0; padding: 0"
    >
      <li>
        <a
          href="{{ '/' | relative_url }}"
          style="
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
          "
          >Home</a
        >
      </li>
      <li>
        <a
          href="{{ '/about/' | relative_url }}"
          style="
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
          "
          >About</a
        >
      </li>
      <li>
        <a
          href="{{ '/projects/' | relative_url }}"
          style="
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
          "
          >Projects</a
        >
      </li>
      <li>
        <a
          href="{{ '/blog/' | relative_url }}"
          style="
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
          "
          >Blog</a
        >
      </li>
      <li>
        <a
          href="{{ '/contact/' | relative_url }}"
          style="
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
          "
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
